USE [Employee]
GO
/****** Object:  Table [dbo].[test1]    Script Date: 4/9/2020 11:30:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[test1](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[value] [varchar](20) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[test2]    Script Date: 4/9/2020 11:30:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[test2](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[value] [varchar](20) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
